# Welcome to the Dark Art of Coding:
## Introduction to Python
pandas: reading in files

<img src='../images/dark_art_logo.600px.png' width='300' style="float:right">

# Importing pandas, etc
---

When using pandas, it is common to import pandas as `pd` and to simply import the factory functions: `Series` and `DataFrames`

In [1]:
import pandas as pd
from pandas import Series, DataFrame

Pandas is adept at reading in **many, many** data formats 

To see which ones, you can type pd.read and use **tab completion**

```python
pd.read<Press the tab key>
```

In [4]:
df = pd.read_clipboard()

In [6]:
df.Column1

0    cell 1A
1    cell 1B
2    cell 1C
3    cell 1D
Name: Column1, dtype: object

# Reading from the clipboard
---

Let's start by reading from the clipboard after we copy data from a table on a webpage.

There is a sample file in the folder called:

```bash
sample_table.html
```

IF you open this file with your browser, you will see a table. Copying this table to the clipboard, allows you to read in the content to pandas directly.

In [7]:
webdata = pd.read_clipboard()
webdata

   Column1  Column2  Column3  Column4  Column5
0  cell 1A  cell 2A  cell 3A  cell 4A  cell 5A
1  cell 1B  cell 2B  cell 3B  cell 4B  cell 5B
2  cell 1C  cell 2C  cell 3C  cell 4C  cell 5C
3  cell 1D  cell 2D  cell 3D  cell 4D  cell 5D

This produces a DataFrame in memory. As with all DataFrames, you can access:

* the columns
* the rows
* the `.attributes`
* the `.methods()` 

Try these on your IPython interface:

```python
* webdata.C<press the tab key>
* webdata.Column1
```

In [ ]:
webdata.C

# Reading from CSV
---

We will focus on `csv` and `sql` for remainder of this discussion.

Let's dive into `csv` first.

To read from `csv` files, we use the `.read_csv()` method.

In [8]:
# In the following results, notice the column headers.
# By default, pandas will use the first
#     row as a header row...  
#     thus 'barry allen' shows up a the header for column 1.
# Maybe NOT what you want...

data = pd.read_csv('log_file.csv')
data

,barry allen,ballen@jleague.org,246.167.32.21,253.36.206.4,2016-02-08T21:44:22,49.55854,8.87819,32171
0,barbara gordon,bgordon@jleague.org,253.36.207.192,198.240.252.129,2016-02-07T21:44:28,48.14013,9.07396,34285
1,kyle rayner,krayner@jleague.org,208.66.182.10,102.230.226.99,2016-02-06T21:44:56,45.28336,10.38742,40287
2,dinah lance,dlance@jleague.org,246.167.32.76,7.36.164.133,2016-02-06T21:45:51,45.83448,8.70891,688291
3,arthur curry,acurry@jleague.org,253.36.207.215,7.36.164.0,2016-02-06T21:47:02,49.44709,8.05527,126609
4,kara zor-el,kzor-el@jleague.org,208.66.183.214,253.36.207.215,2016-02-06T21:47:26,46.22157,10.07309,862129
5,kara zor-el,kzor-el@jleague.org,208.66.183.214,198.240.252.173,2016-02-06T21:48:03,45.76911,10.33047,648640
6,hal jordan,hjordan@jleague.org,253.36.207.148,208.66.182.184,2016-02-06T21:49:36,47.99098,7.80398,496563
7,kara zor-el,kzor-el@jleague.org,253.36.207.148,26.28.209.95,2016-02-06T21:50:41,48.03181,10.01841,800746
8,john constantine,jconstantine@jleague.org,246.167.32.3,246.167.32.103,2016-02-06T21:52:17,48.63939,9.96064,859045

In [17]:
# If we include a list of names in the function
#     call, pandas will use those as the headers,
#     instead of the first row.

named_cols = pd.read_csv('log_file.csv',
                         names=['name', 
                                'email', 
                                'fmip', 
                                'toip',
                                'datetime', 
                                'lat', 
                                'long', 
                                'payload'])

In [18]:
# The .info() method shows us some details 
#     about our new DataFrame
#     * The number and names of the columns
#     * The datatypes for each column
#     * etc

named_cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
name        10 non-null object
email       10 non-null object
fmip        10 non-null object
toip        10 non-null object
datetime    10 non-null object
lat         10 non-null float64
long        10 non-null float64
payload     10 non-null int64
dtypes: float64(2), int64(1), object(5)
memory usage: 720.0+ bytes

In [19]:
# If want to see a single column, we can use 
#     bracket notation 
#     or the simplified .column_name notation

named_cols['fmip']

0     246.167.32.21
1    253.36.207.192
2     208.66.182.10
3     246.167.32.76
4    253.36.207.215
5    208.66.183.214
6    208.66.183.214
7    253.36.207.148
8    253.36.207.148
9      246.167.32.3
Name: fmip, dtype: object

In [20]:
named_cols.fmip

0     246.167.32.21
1    253.36.207.192
2     208.66.182.10
3     246.167.32.76
4    253.36.207.215
5    208.66.183.214
6    208.66.183.214
7    253.36.207.148
8    253.36.207.148
9      246.167.32.3
Name: fmip, dtype: object

It is not necessary to ingest all the lines from a file. 

Presuming that certain lines lack useful information... 

* metadata
* header lines
* document data, etc.

In this case, let's skip rows 0, 1, and 2 from the csv.

In [23]:
skipped_rows = pd.read_csv('log_file_junk.csv', 
                           names=['name', 'email', 'fmip', 'toip',
                                  'datetime', 'lat', 'long', 'payload'],
                           skiprows=[0, 1, 2])

skipped_rows

,name,email,fmip,toip,datetime,lat,long,payload
0,barbara gordon,bgordon@jleague.org,253.36.207.192,198.240.252.129,2016-02-07T21:44:28,48.14013,9.07396,34285
1,kyle rayner,krayner@jleague.org,208.66.182.10,102.230.226.99,2016-02-06T21:44:56,45.28336,10.38742,40287
2,dinah lance,dlance@jleague.org,246.167.32.76,7.36.164.133,2016-02-06T21:45:51,45.83448,8.70891,688291
3,arthur curry,acurry@jleague.org,253.36.207.215,7.36.164.0,2016-02-06T21:47:02,49.44709,8.05527,126609

You may receive files with alternate separators/delimiters. Pandas gives you tools to  
deal with this situation.

In [24]:
# This file uses a 'pipe' character as the separator.

piped_data = pd.read_csv('log_file_pipes.csv',
                         names=['name', 'email', 'fmip',
                                'toip', 'datetime', 'lat',
                                'long', 'payload'],
                         sep='|')

piped_data

,name,email,fmip,toip,datetime,lat,long,payload
0,barry allen,ballen@jleague.org,246.167.32.21,253.36.206.4,2016-02-08T21:44:22,49.55854,8.87819,32171
1,barbara gordon,bgordon@jleague.org,253.36.207.192,198.240.252.129,2016-02-07T21:44:28,48.14013,9.07396,34285
2,kyle rayner,krayner@jleague.org,208.66.182.10,102.230.226.99,2016-02-06T21:44:56,45.28336,10.38742,40287
3,dinah lance,dlance@jleague.org,246.167.32.76,7.36.164.133,2016-02-06T21:45:51,45.83448,8.70891,688291
4,arthur curry,acurry@jleague.org,253.36.207.215,7.36.164.0,2016-02-06T21:47:02,49.44709,8.05527,126609
5,kara zor-el,kzor-el@jleague.org,208.66.183.214,253.36.207.215,2016-02-06T21:47:26,46.22157,10.07309,862129
6,kara zor-el,kzor-el@jleague.org,208.66.183.214,198.240.252.173,2016-02-06T21:48:03,45.76911,10.33047,648640
7,hal jordan,hjordan@jleague.org,253.36.207.148,208.66.182.184,2016-02-06T21:49:36,47.99098,7.80398,496563
8,kara zor-el,kzor-el@jleague.org,253.36.207.148,26.28.209.95,2016-02-06T21:50:41,48.03181,10.01841,800746
9,john constantine,jconstantine@jleague.org,246.167.32.3,246.167.32.103,2016-02-06T21:52:17,48.63939,9.96064,859045

In [26]:
# This was a short file, but when you have thousands
#     of rows, sometimes you simply want a quick look at 
#     samples of the data.

# .tail() and .head() are good examples of this.

piped_data.tail(3)

,name,email,fmip,toip,datetime,lat,long,payload
7,hal jordan,hjordan@jleague.org,253.36.207.148,208.66.182.184,2016-02-06T21:49:36,47.99098,7.80398,496563
8,kara zor-el,kzor-el@jleague.org,253.36.207.148,26.28.209.95,2016-02-06T21:50:41,48.03181,10.01841,800746
9,john constantine,jconstantine@jleague.org,246.167.32.3,246.167.32.103,2016-02-06T21:52:17,48.63939,9.96064,859045

In [27]:
piped_data.head(4)

,name,email,fmip,toip,datetime,lat,long,payload
0,barry allen,ballen@jleague.org,246.167.32.21,253.36.206.4,2016-02-08T21:44:22,49.55854,8.87819,32171
1,barbara gordon,bgordon@jleague.org,253.36.207.192,198.240.252.129,2016-02-07T21:44:28,48.14013,9.07396,34285
2,kyle rayner,krayner@jleague.org,208.66.182.10,102.230.226.99,2016-02-06T21:44:56,45.28336,10.38742,40287
3,dinah lance,dlance@jleague.org,246.167.32.76,7.36.164.133,2016-02-06T21:45:51,45.83448,8.70891,688291

## Indexing

When reading in data, `pandas` assigns a default index of `0..n`. Sometimes we want to use something different than the default indexing.

We **can choose** a particular column to be used as an index.

Here we chose to use the `datetime` column

In [28]:
import pandas as pd
date_index = pd.read_csv('log_file.csv', 
                         names=['name', 'email', 'fmip', 'toip',
                                'datetime', 'lat', 'long', 'payload'],
                         index_col='datetime')

date_index

,name,email,fmip,toip,lat,long,payload
datetime,,,,,,,
2016-02-08T21:44:22,barry allen,ballen@jleague.org,246.167.32.21,253.36.206.4,49.55854,8.87819,32171
2016-02-07T21:44:28,barbara gordon,bgordon@jleague.org,253.36.207.192,198.240.252.129,48.14013,9.07396,34285
2016-02-06T21:44:56,kyle rayner,krayner@jleague.org,208.66.182.10,102.230.226.99,45.28336,10.38742,40287
2016-02-06T21:45:51,dinah lance,dlance@jleague.org,246.167.32.76,7.36.164.133,45.83448,8.70891,688291
2016-02-06T21:47:02,arthur curry,acurry@jleague.org,253.36.207.215,7.36.164.0,49.44709,8.05527,126609
2016-02-06T21:47:26,kara zor-el,kzor-el@jleague.org,208.66.183.214,253.36.207.215,46.22157,10.07309,862129
2016-02-06T21:48:03,kara zor-el,kzor-el@jleague.org,208.66.183.214,198.240.252.173,45.76911,10.33047,648640
2016-02-06T21:49:36,hal jordan,hjordan@jleague.org,253.36.207.148,208.66.182.184,47.99098,7.80398,496563
2016-02-06T21:50:41,kara zor-el,kzor-el@jleague.org,253.36.207.148,26.28.209.95,48.03181,10.01841,800746
2016-02-06T21:52:17,john constantine,jconstantine@jleague.org,246.167.32.3,246.167.32.103,48.63939,9.96064,859045

In [29]:
# If we have an index, we can select data from the DataFrame
# based on the index. In this case, since we just made the
# date/time our index, we can
# easily select rows based on the date/time stamps

date_index.loc['2016-02-06T21:44:56':'2016-02-06T21:49:36']

,name,email,fmip,toip,lat,long,payload
datetime,,,,,,,
2016-02-06T21:44:56,kyle rayner,krayner@jleague.org,208.66.182.10,102.230.226.99,45.28336,10.38742,40287
2016-02-06T21:45:51,dinah lance,dlance@jleague.org,246.167.32.76,7.36.164.133,45.83448,8.70891,688291
2016-02-06T21:47:02,arthur curry,acurry@jleague.org,253.36.207.215,7.36.164.0,49.44709,8.05527,126609
2016-02-06T21:47:26,kara zor-el,kzor-el@jleague.org,208.66.183.214,253.36.207.215,46.22157,10.07309,862129
2016-02-06T21:48:03,kara zor-el,kzor-el@jleague.org,208.66.183.214,198.240.252.173,45.76911,10.33047,648640
2016-02-06T21:49:36,hal jordan,hjordan@jleague.org,253.36.207.148,208.66.182.184,47.99098,7.80398,496563

# Experience Points!
---

In your **text editor** create a simple script called:

```bash
my_read_01.py```

Execute your script in the **IPython interpreter** using the command:

```bash
run my_read_01.py```

1. With a text editor look inside the file `log_file_sign.csv` and identify the delimiter.
1. Open the file using the pandas `.read_csv()` method and the following:
   * Assign the following names to the columns, in this order:<br><br>
```
name
email
fmip
toip
datetime
lat
long
payload_size
```<br><br>
   * Assign the correct delimiter based on what you found
   * Skip the even numbered rows using `range()` to count up to 1000 stepping by twos
   * Index the DataFrame using the `datetime` column
1. Display the data between the index `2016-01-29T22:27:34` and `2016-01-28T22:34:28`

When you complete this exercise, please put your green post-it on your monitor. 

If you want to continue on at your own-pace, please feel free to do so.

<img src='../images/green_sticky.300px.png' width='200' style='float:left'>

In [ ]:
import pandas as pd
df = pd.read_csv('log_file_sign.csv',
                 names=['name',
                        'email',
                        'fmip',
                        'toip',
                        'datetime',
                        'lat',
                        'long',
                        'payload_size'],
                sep='!',
                index_col='datetime', 
                skiprows = range(0,1000,2))

df.loc['2016-01-29T22:27:34':'2016-01-28T22:34:28']

# Missing data
---

Some files have missing data or markers indicating that data is not available.

In [ ]:
data_na = pd.read_csv('log_file_na.csv', 
                      names=['name', 'email', 'fmip',
                             'toip', 'datetime', 'lat',
                             'long', 'payload'])

data_na

In [ ]:
# You can drop any rows that contain NaN data:

data_na.dropna()

Checking for NaN status and converting the particular values to an pandas NaN flag is a time consuming process that might not be optimal when loading data.

You **can** turn this process off

In [ ]:
data_na = pd.read_csv('log_file_na.csv', 
                      names=['name', 'email', 'fmip',
                             'toip', 'datetime', 'lat', 
                             'long', 'payload'],
                      na_filter=False)

data_na.head(20)

You can provide a list of particular values to use as na values. 

Some files or software will use sentinels or flag values to represent a null value.

NOTE: in this case, pandas will combine the na_values you give with the built-in na values.

In [ ]:
data_na = pd.read_csv('log_file_na.csv', 
                      names=['name', 'email', 'fmip',
                             'toip', 'datetime', 'lat',
                             'long', 'payload'],
                      na_values=['', '9999'])
data_na.head(20)

In [ ]:
data_na = pd.read_csv('log_file_na.csv', 
                      names=['name', 'email', 'fmip',
                             'toip', 'datetime', 'lat',
                             'long', 'payload'],
                         na_values=['', '9999'],
                         keep_default_na=False)

data_na.head(20)

In [ ]:
# It is possible to tell pandas how many rows to read using:
# nrows


data_na = pd.read_csv('log_file_na.csv', 
                      names=['name', 'email', 'fmip',
                             'toip', 'datetime', 'lat',
                             'long', 'payload'],
                      na_values=['', '9999'], 
                      keep_default_na=False,
                      nrows=7)
data_na

In [ ]:
# Sometimes the amount of data you need to process is 
#     too large to read into memory, so you need to process
#     it portion by portion.
# The chunksize argument allows you to identify how many
#     rows to read in at a time

data = pd.read_csv('log_file.csv', 
                   names=['name', 'email', 'fmip', 
                          'toip', 'datetime', 'lat',
                          'long', 'payload'],
                   chunksize=3)

for chunk in data:
    print('\npre-processing')
    print('more pre-processing')
    print('even more pre-processing')
    print(chunk)
    print('post processing\n')

In [ ]:
# If you want to convert data in one or more columns of your
#     DataFrame, you can use functions to transform the data.

# To convert multiple columns with different functions
#     you can use dictionary to create a mapping that
#     defines which conversion function(s)
#     to use against which columns(s)

In [ ]:
def dsplitter(address):
    userid, domain = address.split('@')
    return domain

def date_only(datetime):
    return datetime.split('T')[0]

In [ ]:
data = pd.read_csv('log_file.csv', 
                   names=['name', 'email', 'fmip',
                          'toip', 'datetime', 'lat',
                          'long', 'payload'],
                   converters={'email':dsplitter,
                               'datetime':date_only})
data

In [ ]:
# If you only want to retain certain columns, you can
#     identify which columns to keep, using:
# usecols


data = pd.read_csv('log_file.csv', 
                   names=['name', 'email', 'fmip',
                          'toip', 'datetime', 'lat',
                          'long', 'payload'],
                   usecols=['email', 'fmip', 'toip'])

data

# SQL
---

In [ ]:
# pandas can read from sql databases easily...

import sqlite3
conn = sqlite3.connect('log_file.sql')
cur = conn.cursor()

df = pd.read_sql("SELECT * FROM superheroes", conn)
df.head()

In [ ]:
df1 = pd.read_sql('''SELECT datetime, email, lat, long FROM superheroes
                          WHERE name LIKE "%wayne%"''', conn)
df1.head()

In [ ]:
df2 = pd.read_sql('''SELECT datetime, email, lat, long
                     FROM superheroes
                     WHERE name LIKE "%wayne%"''',
                  conn,
                  index_col='datetime')
df2.head()

# Writing to disk
---

In [ ]:
df2.to_csv('class_out.csv',
           columns=['email', 'lat', 'long', 'name'],
           header=True, sep='|')

# Experience Points!
---

In your **text editor** create a simple script called:

```bash
my_read_02.py```

Execute your script in the **IPython interpreter** using the command:

```bash
run my_read_02.py```

1. Connect to the `superheroes` table in the sql database: `log_file.sql`
1. Read from the connection using pandas `.read_sql()` method to create a DataFrame with these characteristics:
    * Read in only the following columns: `email`, `lat`, `long`, and `datetime`
    * Choose only the rows where the name contains the string `barry`
1. Use DataFrame's `.head()` method to display just the first ten rows.

When you complete this exercise, please put your green post-it on your monitor. 

If you want to continue on at your own-pace, please feel free to do so.

<img src='../images/green_sticky.300px.png' width='200' style='float:left'>